.delete-client-container{
  overflow-x: hidden;
  height: 100%;
  min-height: 583px;
  background-color: white;
  .delete-client-title {
    border-bottom: 1px solid #C0C0C0;
    height: 50px;
    background-color: #3b444b;
    box-shadow: 3px 3px 5px #dbdee0;

    #new-client {
      font-weight: bold;
      margin-left: 20px;
      padding-top: 12px;
      font-size: 17px;
      color: #dbdee0;
    }
  }
  #select{
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #3b444b;
    font-style: italic;
  }
  .clients-table{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 170px;
    table {
      width: 100%;
    }
    .mat-form-field {
      font-size: 12px;
      width: 100%;
    }
    i{
      font-size: 20px;
    }
    i:hover{
      color: white;
      font-size: 21px;
    }
  
    .mat-cell{
      font-size: unset;
      color: unset;
    }
    .mat-column-select{
      flex: 0 0 100px;
    }
    .mat-header-cell{
      font-size: 14px;
      font-weight: bold;
      color: #3b444b;
    }
    th.mat-sort-header-sorted {
      color: black;
    }
    margin-left: 20px;
    margin-right: 20px;
    tr#tds{
      font-size: 13px;
      font-weight: normal;
    }
    tr#tds:hover{
      font-size: 13px;
      cursor: pointer;
    }
    .selected {
      font-size: 13px;
      background-color: #B22222;
      font-style: italic;
      opacity: 0.8;
    }
  }
  .delete-button{
    background-color: #B22222;
    color: white;
    width: 100px;
    height: 50px;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 20px;
  }
  button:hover{
    background-color: #8B0000;
    cursor: pointer;
  }
  button:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background-color: #B22222;
  }
        .succes{
        color: #3CB371;
        font-weight: bold;
        font-size: 13px;
        #refresh{
          color: black;
          font-weight: bold;
          font-size: 12px;
        }
      }
        #hideMe {
          -moz-animation: cssAnimation 0s ease-in 5s forwards;
          /* Firefox */
          -webkit-animation: cssAnimation 0s ease-in 5s forwards;
          /* Safari and Chrome */
          -o-animation: cssAnimation 0s ease-in 5s forwards;
          /* Opera */
          animation: cssAnimation 0s ease-in 5s forwards;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
         
      }
      @keyframes cssAnimation {
          to {
              width:0;
              height:0;
              overflow:hidden;
          }
      }
      @-webkit-keyframes cssAnimation {
          to {
              width:0;
              height:0;
              visibility:hidden;
          }
      }
       
 
}
p{
  margin-left:50px;
}
#deleteModalContent {
  background-color: #E5E5E5;
  font-size: 15px;
  margin-top: 330px;
  button {
    background-color: #2c2c2c;
    border: 1px solid #5b5b5b;
    border-radius: 3px;
    color: white;
    outline: none;
  }
  button {
    background-color: #5b5b5b;
  }

  button:hover {
    cursor: pointer;
    background-color: #2c2c2c;
  }

  .modal-footer {
    border-top: 1px solid #2c2c2c;
  }

  .modal-header {
    border-bottom: 1px solid #2c2c2c;
  }
  
}
#noButton {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

#yesButton {
  margin-top: 10px;
  margin-left: 170px;
  font-weight: bold;
}