<div class="dashboard-container">
  <div class="dashboard-title">
    <div id="dashboard-title">Dashboard</div>
  </div>
  <div class="top-dashboard row">
    <div class="top-dashboard-block col-md clients">
      <div class="top-block row">
        <div class="block-icon col-sm"><i class="fa fa-user-circle"></i></div>
        <div class="block-title col-sm">Clients</div>
      </div>
      <div class="block-button">
        <div class="details">
          Details
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="top-dashboard-block col-md tasks">
      <div class="top-block row">
        <div class="block-icon col-sm"><i class="fa fa-file-text"></i></div>
        <div class="block-title col-sm">Tasks</div>
      </div>
      <div class="block-button">
        <div class="details">
          Details
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="top-dashboard-block col-md sales">
      <div class="top-block row">
        <div class="block-icon col-sm"><i class="fa fa-dollar"></i></div>
        <div class="block-title col-sm">Sales</div>
      </div>
      <div class="block-button">
        <div class="details">
          Details
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="top-dashboard-block col-md rents">
      <div class="top-block row">
        <div class="block-icon col-sm"><i class="fa fa-home"></i></div>
        <div class="block-title col-sm">Rents</div>
      </div>
      <div class="block-button">
        <div class="details">
          Details
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-dashboard row">
    <div class="event-panel col-md-6">
      <div class="events-title">Upcoming events</div>
      <div class="events">
        <div class="event row">
          <div class="event-date col-sm">
            <div class="event-day">21</div>
            <div class="event-month">DEC</div>
          </div>
          <div class="event-info col-sm">
            <div class="event-name">Sale scheduled</div>
            <div class="event-detail">Timisoara, str. M. Viteazul nr.2</div>
          </div>
          <div class="event-type col-sm">
            <div class="type">
              meeting
            </div>
          </div>
        </div>
        <hr>
        <div class="event row">
          <div class="event-date col-sm">
            <div class="event-day">13</div>
            <div class="event-month">JAN</div>
          </div>
          <div class="event-info col-sm">
            <div class="event-name">Business schedule</div>
            <div class="event-detail">England, Liverpool</div>
          </div>
          <div class="event-type col-sm">
            <div class="type">
              skype
            </div>
          </div>
        </div>
        <hr>
        <div class="event row">
          <div class="event-date col-sm">
            <div class="event-day">11</div>
            <div class="event-month">FEB</div>
          </div>
          <div class="event-info col-sm">
            <div class="event-name">Rent scheduled</div>
            <div class="event-detail">Bucuresti, str. I.Creanga nr.42</div>
          </div>
          <div class="event-type col-sm">
            <div class="type">
              meeting
            </div>
          </div>
        </div>
        <hr>
        <div class="event row">
          <div class="event-date col-sm">
            <div class="event-day">29</div>
            <div class="event-month">DEC</div>
          </div>
          <div class="event-info col-sm">
            <div class="event-name">Marketing policy</div>
            <div class="event-detail">France, Lyon</div>
          </div>
          <div class="event-type col-sm">
            <div class="type">
              phone
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="activities-panel col-md-6">
      <div class="activities-title">Recent activities</div>
      <div class="activities-headers row">
        <div class="col-sm">Action</div>
        <div class="col-sm">User</div>
      </div>
      <div class="activities">
        <hr>
        <div class="activity row">
          <div class="activity-action col-sm">
            <i class="fa fa-circle"></i>
            Rented a property in Timisoara
          </div>
          <div class="activity-user col-sm">
            Mircea Geoana
          </div>
        </div>
        <hr>
        <div class="activity row">
          <div class="activity-action col-sm">
            <i class="fa fa-circle"></i>
            Sold a property in Timisoara
          </div>
          <div class="activity-user col-sm">
            Vasile Giulan
          </div>
        </div>
        <hr>
        <div class="activity row">
          <div class="activity-action col-sm">
            <i class="fa fa-circle"></i>
            Updated a client
          </div>
          <div class="activity-user col-sm">
            Andrei Netotea
          </div>
        </div>
        <hr>
        <div class="activity row">
          <div class="activity-action col-sm">
            <i class="fa fa-circle"></i>
            Deleted a client
          </div>
          <div class="activity-user col-sm">
            Daniel Lungu
          </div>
        </div>
        <hr>
        <div class="activity row">
          <div class="activity-action col-sm">
            <i class="fa fa-circle"></i>
            Cancelled a meeting
          </div>
          <div class="activity-user col-sm">
            Raul Hopota
          </div>
        </div>
        <hr>
        <div class="activity row" id="last">
          <div class="activity-action col-sm">
            <i class="fa fa-circle"></i>
            Rented a property in Cluj
          </div>
          <div class="activity-user col-sm">
            Maria Damb
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-dashboard row">

    <div class="action-pie col-md-6">
      <div class="pie-title">
        Actions today
      </div>
      <div class="pie-chart" style="display: block">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="action-bar col-md-6">
      <div class="bar-title">Weekly earnings and expenses</div>
      <div>
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <div class="action-line col-md">
      <div class="line-title">
        Yearly growth
      </div>

      <div style="display: block;">
        <canvas baseChart width="700" height="250" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>
