.container{
  height: 100vh;
  background: #E5E5E5;
  margin: 0;
  padding: 0;
  max-width: 3000px;
  max-height: 3000px;

  .right-content{
    padding-top: 73px;
    margin-left: 210px;
    min-height: 650px;
  }
}