<div class="add-client-container">
  <div class="add-client-title">
    <div id="new-client">Add new client</div>
  </div>
  <div class="add-client-content row">
    <div class="client-list col-md">
      <h4>Your clients</h4>
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
  
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
  
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr id="tds" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      <div *ngIf="this.added" id="hideMe" class="succes">Client added succsesfully<i class="fa fa-check" aria-hidden="true"></i>
        <div id="refresh">
          Refresh page to see the change in the table!
        </div>
      </div>
      <div *ngIf="this.already" class="error">Client already exist!</div>
    </div>
    <div class="client-form col-md">
      <form #form="ngForm" novalidate>
        <div>
          <div class="input-title">First name</div>
          <input type="text" name="firstName" #firstName="ngModel" required placeholder="" autocomplete="off" ngModel>
          <div *ngIf="firstName.errors?.required && firstName.dirty" class="error">
            *First name is required
          </div>
        </div>
        <div>
          <div class="input-title">Last name</div>
          <input type="text" name="lastName" #lastName="ngModel" required placeholder="" autocomplete="off" ngModel>
          <div *ngIf="lastName.errors?.required && lastName.dirty" class="error">
            *Last name is required
          </div>
        </div>
        <div>
          <div class="input-title">Date of birth</div>
          <input type="date" name="dob" #dob="ngModel" required ngModel data-placeholder="" autocomplete="off" required
            aria-required="true" />
          <div *ngIf="dob.errors?.required && dob.dirty" class="error">
            *Date of birth is required
          </div>
        </div>
        <div>
          <div class="input-title">Phone number</div>
          <input type="text" name="number" #number="ngModel" required placeholder="" autocomplete="off" ngModel>
          <div *ngIf="number.errors?.required && number.dirty" class="error">
            *Number is required
          </div>
        </div>
        <div>
          <div class="input-title">Country</div>
          <input type="text" name="country" #country="ngModel" required placeholder="" autocomplete="off" ngModel>
          <div *ngIf="country.errors?.required && country.dirty" class="error">
            *City is required
          </div>
        </div>
        <div>
          <div class="input-title">City</div>
          <input type="text" name="city" #city="ngModel" required placeholder="" autocomplete="off" ngModel>
          <div *ngIf="city.errors?.required && city.dirty" class="error">
            *City is required
          </div>
        </div>
        <div>
          <div class="input-title">Email</div>
          <input type="email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"
            placeholder="" autocomplete="off" ngModel>
          <div *ngIf="email.errors?.required && email.dirty" class="error">
            *Email is required
          </div>
          <div *ngIf="email.errors?.pattern" class="error">
            *Email does not have a supported domain
          </div>
        </div>
        <div>
          <div class="input-title">Action</div>
          <select #action="ngModel" name="action" ngModel required>
            <option value="sale">Sale</option>
            <option value="rent">Rent</option>
          </select>
          <div *ngIf="action.errors?.required && action.dirty" class="error">
            *An action value is required
          </div>
        </div>
        <button type="submit" class="add-button" (click)="addClient(firstName.value, lastName.value, dob.value, number.value, country.value, city.value, email.value, action.value)"
          [disabled]="form.invalid">Add client</button>
      </form>
    </div>
  </div>
</div>