.add-client-container {
  overflow-x: hidden;
  height: 100%;
  min-height: 583px;
  background-color: white;

  .add-client-title {
    border-bottom: 1px solid #C0C0C0;
    height: 50px;
    background-color: #3b444b;
    box-shadow: 3px 3px 5px #dbdee0;

    #new-client {
      font-weight: bold;
      margin-left: 20px;
      padding-top: 12px;
      font-size: 17px;
      color: #dbdee0;
    }
  }

  .add-client-content {
    .client-list {
      margin-left: 20px;
      margin-top: 40px;

      table {
        width: 100%;
      }

      .mat-form-field {
        font-size: 12px;
        width: 100%;
      }

      .mat-cell {
        font-size: unset;
        color: unset;
      }

      .mat-header-cell {
        font-size: 14px;
        font-weight: bold;
        color: #3b444b;
        background-color: #e8f1f3;

      }

      th.mat-sort-header-sorted {
        color: black;
      }

      margin-left: 20px;
      margin-right: 20px;

      tr#tds {
        font-size: 13px;
        font-weight: normal;
      }

      .error {
        font-size: 14px;
        color: red;
        font-weight: bold;
      }

      .succes {
        color: #3CB371;
        font-weight: bold;

        #refresh {
          color: black;
          font-weight: bold;
          font-size: 12px;
        }
      }

      #hideMe {
        -moz-animation: cssAnimation 0s ease-in 5s forwards;
        /* Firefox */
        -webkit-animation: cssAnimation 0s ease-in 5s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimation 0s ease-in 5s forwards;
        /* Opera */
        animation: cssAnimation 0s ease-in 5s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

      }

      @keyframes cssAnimation {
        to {
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }

      @-webkit-keyframes cssAnimation {
        to {
          width: 0;
          height: 0;
          visibility: hidden;
        }
      }


    }

    .client-form {

      margin-top: 60px;
      margin-left: 50px;

      .input-title {
        font-weight: bold;
        font-size: 14px;
        margin-top: 3px;
      }

      input,
      select {
        border: 1px solid #C0C0C0;
        border-radius: 3px;
        width: 330px;
        font-size: 14px;
        height: 25px;
      }

      input:focus,
      select:focus {
        outline-color: #2c2c2c;
      }

      .error {
        font-size: 10px;
        color: red;
        font-weight: bold;
      }

      .add-button {
        background-color: #3CB371;
        color: white;
        width: 100px;
        height: 50px;
        border: 1px solid;
        border-radius: 4px;
        margin-top: 30px;
      }

      button:focus {
        outline: none;
      }

      button:hover {
        outline: none;
        cursor: pointer;
        background-color: #2E8B57;
      }

      input[type="date"]::before {
        content: attr(data-placeholder);
        width: 100%;

      }

      input[type="date"]:valid::before {
        display: none;
      }

      button:disabled {
        opacity: 0.9;
        cursor: not-allowed;
      }
    }
  }
}
