<div class="update-client-container">
  <div class="update-client-title">
    <div id="new-client">Edit client</div>
  </div>
  <div class="update-content row">
    <div class="clients-table col-md">
      <div id="select">Select a client from the list below and press the edit button</div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr id="tds" [class.selected]="client == selectedClient" (click)="onSelect(client)" *ngFor="let client of this.clientService.clients">
            <td>{{client.id}}</td>
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.action}}</td>
          </tr>
        </tbody>
      </table>
      <button *ngIf="edit" [disabled]="!selectedClient" (click)="onEdit()" class="update-button">
        Edit
      </button>
    </div>
    <div class="edit-client col-md">
      <div id="s-client">
        Selected client
      </div>
      <form #form="ngForm" novalidate>
        <div class="client-info">
          Firstname: <input [class.edit]="edit" pattern="^[a-zA-Z]+$" type="text" placeholder=" John" name="firstName"
            #firstName="ngModel" required autocomplete="off" [style.border]="(firstName.errors?.required && firstName.dirty || firstName.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.firstName" [readonly]="edit">
          <div *ngIf="firstName.errors?.required && firstName.dirty || firstName.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          Lastname: <input [class.edit]="edit" pattern="^[a-zA-Z]+$" type="text" placeholder=" Smith" name="lastName"
            #lastName="ngModel" required autocomplete="off" [style.border]="(lastName.errors?.required && lastName.dirty || lastName.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.lastName" [readonly]="edit">
          <div *ngIf="lastName.errors?.required && lastName.dirty || lastName.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          Date of birth: <input [class.edit]="edit" type="date" name="dob" #dob="ngModel" required autocomplete="off"
            [style.border]="(dob.errors?.required && dob.dirty ? '1px solid #D8000C' : '')" [ngModel]="selectedClient?.dob"
            [readonly]="edit">
          <div *ngIf="dob.errors?.required && dob.dirty" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          Phone number: <input [class.edit]="edit" type="text" pattern="^(\+4|)?(07[0-8]{1}[0-9]{1}|02[0-9]{2}|03[0-9]{2}){1}?(\s|\.|\-)?([0-9]{3}(\s|\.|\-|)){2}$" placeholder=" 0761775637" name="number"
            #number="ngModel" required autocomplete="off" [style.border]="(number.errors?.required && number.dirty || number.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.number" [readonly]="edit">
          <div *ngIf="number.errors?.required && number.dirty || number.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          Country: <input [class.edit]="edit" pattern="^[a-zA-Z]+$" type="text" placeholder=" USA" name="country"
            #country="ngModel" required autocomplete="off" [style.border]="(country.errors?.required && country.dirty || country.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.country" [readonly]="edit">
          <div *ngIf="country.errors?.required && country.dirty || country.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          City: <input [class.edit]="edit" pattern="^[a-zA-Z]+$" type="text" placeholder=" New York" name="city" #city="ngModel"
            required autocomplete="off" [style.border]="(city.errors?.required && city.dirty || city.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.city" [readonly]="edit">
          <div *ngIf="city.errors?.required && city.dirty || city.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          Email: <input [class.edit]="edit" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder=" john_smith@gmail.com"
            name="email" #email="ngModel" required autocomplete="off" [style.border]="(email.errors?.required && email.dirty || email.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.email" [readonly]="edit">
          <div *ngIf="email.errors?.required && email.dirty || email.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
        <div class="client-info">
          Action: <input [class.edit]="edit" pattern="(?:sale|rent)" type="text" placeholder=" sale" name="action"
            #action="ngModel" required autocomplete="off" [style.border]="(action.errors?.required && action.dirty || action.errors?.pattern ? '1px solid #D8000C' : '')"
            [ngModel]="selectedClient?.action" [readonly]="edit">
          <div *ngIf="action.errors?.required && action.dirty || action.errors?.pattern" class="client-invalid">
            <i class="fa fa-times-circle"></i>
          </div>
        </div><br>
      </form>
      <button *ngIf="!edit" [disabled]="form.invalid" (click)="saveSelectedClient(firstName?.value, lastName?.value, dob?.value, number?.value, country?.value, city?.value, email?.value, action?.value)"
        class="update-button">
        Save
      </button>
      <button *ngIf="!edit" [disabled]="form.invalid" (click)="onEdit()" class="update-button">
        Cancel
      </button>
      <div *ngIf="this.edited" id="hideMe" class="succes">Client edited succsesfully<i class="fa fa-check" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>