.navbar {
  border-bottom: 1px solid #191919;
}

button {
  background-color: #2c2c2c;
  border: 1px solid #5b5b5b;
  border-radius: 3px;
  color: white;
  outline: none;
}


#logoutModalContent {
  background-color: #E5E5E5;

  button {
    background-color: #5b5b5b;
  }

  button:hover {
    cursor: pointer;
    background-color: #2c2c2c;
  }

  .modal-content {
    font-size: 14px;
  }

  .modal-footer {
    border-top: 1px solid #2c2c2c;
  }

  .modal-header {
    border-bottom: 1px solid #2c2c2c;
  }
}

#noButton {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold
}

#yesButton {
  margin-top: 20px;
  margin-left: 170px;
  font-weight: bold
}

button:hover {
  cursor: pointer;
}

.navbar {
  background-color: #2c2c2c;

  .navbar-brand {
    color: #dbdee0;
    font-size: 31px;
    font-family: "Allerta Stencil", Sans-serif;
  }

  #left-search {

    #link-id {
      margin-right: 20px;
    }
  }


  .navbar-nav {
    a {
      color: #dbdee0;
    }

    input {
      border: none;
      border-bottom: 1px solid #5b5b5b;
      background-color: #2c2c2c;
      width: 700px;
      color: white;
    }

    input:focus {
      outline: none;
    }

    a:hover {
      cursor: pointer;
    }

    #user {
      margin-right: 30px;
    }

    button {
      color: white;
    }

    #not {
      background-color: white;
      width: 80px;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 150px;

      hr {
        margin: 0;
      }

      .notification {
        border: none;
        color: black;
        max-width: 150px;
        margin-right: 0px;
        margin-left: 3px;
        .excl {
          font-size: 8px;
          max-width: 16px;
          padding: 0;
          margin-left: 15px;
          margin-top: 2px;
        }

        .notif {
          padding: 0;
          max-width: 90%;
          font-size: 10px;
        }
      }
      .notification:hover{
        cursor: pointer;
        background-color: #DCDCDC;
        border-radius: 5px;
      }
    }

    #msg {
      background-color: white;
      width: 130px;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 170px;

      hr {
        margin: 0;
      }

      .message {
        border: none;
        color: black;
        padding-left: 20px;

        .user {
          .user-left {
            padding: 0;
            max-width: 20px;
            font-size: 30px;
          }

          .user-right {
            padding: 0;

            .user-name {
              font-size: 12px;
              font-weight: bold;
              margin-left: 20px;
              margin-right: 0;
              max-width: 50%;
            }

            .user-message {
              font-size: 10px;
              max-width: 80%;
              margin-left: 5px;
              line-height: 0.9;
            }

            .user-time {
              background-color: #3b444b;
              max-width: 60px;
              font-size: 8px;
              border-radius: 3px;
              color: #DCDCDC;
              margin-left: 5px;
              margin-top: 3px;
              margin-bottom: 3px;
            }
          }
        }
      }

      .message:hover {
        cursor: pointer;
        background-color: #DCDCDC;
        border-radius: 3px;
      }
    }

    .dropdown-menu-right {
      a {
        color: black;
      }

      a:hover {
        color: white;
      }

    }

    .btn-group {

      .notification-text {
        color: #87CEFA;
        margin-top: 7px;
        font-size: 10px;
      }

      /* width */
      ::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .dropdown-toggle::after {
        display: none;
      }
    }

    a:hover {
      color: white;
      background-color: #2E2E2E;
      border-radius: 3px;
    }
  }
}
